@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide arrows top and button in input type number 
   (Chrome, Safari, Edge, Opera - Chromium)
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.active .step__number {
  background-color: #bada55;
  color: rgb(74 4 78);
  border-color: #bada55;
}

.toggle-active {
  background-color: #eaeaea;
  border-color: #4a044e;
}
